@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.dark-gray {
  color: #777 !important;
}

.light-gray {
  color: #999 !important;
}

.lighter-gray {
  color: rgba(170, 170, 170, 0.5);
}

.color-primary {
  color: #FF69B4;
}

.max-width-200 {
  max-width: 200px;
}

.btn.btn-primary {
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
  background-color: #FF69B4;
  border-color: #FF69B4;
  text-decoration: none;
}
.btn.btn-primary:hover:not(.btn-text):not(:disabled):not(.disabled), .btn.btn-primary:focus:not(.btn-text), .btn.btn-primary.focus:not(.btn-text) {
  background-color: #ff2190;
  border-color: #ff2190;
}
.btn.btn-clean:hover:not(.btn-text):not(:disabled):not(.disabled), .btn.btn-clean:focus:not(.btn-text), .btn.btn-clean.focus:not(.btn-text) {
  color: #FF69B4;
}
.btn.btn-clean:hover:not(.btn-text):not(:disabled):not(.disabled) i, .btn.btn-clean:focus:not(.btn-text) i, .btn.btn-clean.focus:not(.btn-text) i {
  color: #FF69B4;
}

.header-menu-wrapper {
  height: -webkit-fill-available;
  min-height: 100%;
}

@media (max-width: 575.98px) {
  .logo {
    max-width: 135px;
  }
}

.header {
  background-color: white;
}
.header .logo {
  max-height: 20px;
}
.header .topbar {
  background-color: white;
}

.brand {
  padding: 0;
}
@media (max-width: 991.98px) {
  .brand {
    padding: 0;
  }
}

.logo + span {
  position: relative;
  top: 1px;
}

.topbar {
  position: relative;
  box-shadow: unset;
  padding: 0;
}
@media (max-width: 991.98px) {
  .topbar {
    position: relative;
    box-shadow: unset;
    padding: 0;
    background-color: transparent;
  }
}

@media (min-width: 991.98px) {
  .topbar-item .dropdown-menu a,
.topbar-item .dropdown-menu span,
.header-menu .menu-nav > .menu-item .menu-submenu > .menu-subnav > .menu-item > .menu-link {
    width: max-content;
  }
}
@media (max-width: 991.98px) {
  .header-menu-mobile .menu-nav > .menu-item.menu-item-open > .menu-heading .menu-arrow,
.header-menu-mobile .menu-nav > .menu-item.menu-item-open > .menu-link .menu-arrow {
    color: #FF69B4;
  }
}
.header-menu .menu-nav > .menu-item .menu-submenu {
  width: initial;
}

.header .header-menu .menu-nav > .menu-item > .menu-link .menu-text,
.header .header-menu .menu-nav > .menu-item .menu-submenu > .menu-subnav > .menu-item > .menu-link .menu-text {
  color: #999;
}

.header .header-menu .menu-nav > .menu-item:hover:not(.menu-item-here):not(.menu-item-active) > .menu-link .menu-text,
.header .header-menu .menu-nav > .menu-item.menu-item-hover:not(.menu-item-here):not(.menu-item-active) > .menu-link .menu-text {
  color: #FF69B4;
}

.header-menu .menu-nav > .menu-item:hover:not(.menu-item-here):not(.menu-item-active) > .menu-link > .menu-arrow,
.header-menu .menu-nav > .menu-item.menu-item-hover:not(.menu-item-here):not(.menu-item-active) > .menu-link > .menu-arrow {
  color: #FF69B4;
}

.header-menu .menu-nav > .menu-item .menu-submenu > .menu-subnav > .menu-item:hover:not(.menu-item-here):not(.menu-item-active) > .menu-link .menu-text,
.header-menu .menu-nav > .menu-item .menu-submenu > .menu-subnav > .menu-item.menu-item-hover:not(.menu-item-here):not(.menu-item-active) > .menu-link .menu-text {
  color: #FF69B4;
}

.header-menu-mobile .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-text,
.header-menu-mobile .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-arrow {
  color: #FF69B4;
}

.header-menu-mobile .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-text,
.header-menu-mobile .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-arrow {
  color: #FF69B4;
}

.header-menu-mobile .menu-nav > .menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-text,
.header-menu-mobile .menu-nav > .menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-text {
  color: #FF69B4;
}

.header .header-menu .menu-nav > .menu-item.menu-item-here > .menu-link .menu-text,
.header .header-menu .menu-nav > .menu-item.menu-item-active > .menu-link .menu-text {
  color: #FF69B4;
}

.header-menu.header-menu-layout-tab .menu-nav > .menu-item.menu-item-here > .menu-link,
.header-menu.header-menu-layout-tab .menu-nav > .menu-item.menu-item-active > .menu-link {
  background-color: transparent !important;
  border-bottom: 2px solid #FF69B4 !important;
}

.header .topbar {
  flex-basis: 100%;
}

.symbol.symbol-light-primary .symbol-label {
  background-color: rgba(77, 89, 149, 0.06);
  color: #3699FF;
}

.header-menu .menu-nav > .menu-item > .menu-link > .menu-arrow {
  display: flex;
}

.module-active a.light-gray,
.module-active a,
.module-active i,
.module-active span {
  color: #FF69B4 !important;
}
.module-active .symbol.symbol-light-primary .symbol-label {
  background-color: #FBECF5;
}

.alert.alert-custom .alert-text {
  width: min-content;
}

.symbol.symbol-lg-35 .symbol-label {
  width: 22px;
  height: 22px;
  overflow: hidden;
}
.symbol.symbol-lg-35 .symbol-label img {
  max-width: 22px;
}

.symbol.symbol-light-primary .symbol-label {
  overflow: hidden;
}

.svg-icon.svg-icon-primary svg g [fill] {
  fill: #FF69B4 !important;
}

.symbol.symbol-primary .symbol-label {
  background-color: #FF69B4;
}

.separator.separator-solid {
  border-bottom: 1px solid #EEEEEE;
}

.text-muted {
  color: #aaa !important;
}

@media (max-width: 575.98px) {
  .account-nav-user-email {
    font-size: 90%;
  }
}