body {
	font-family: 'Poppins', sans-serif;
}

.container-fluid {
	max-width: 1180px;
}

#docsSearch {
	background-color: #F5EFF6;
	height: 450px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.category-list .category, .category-list .category:hover {
	min-height: 122px;
	box-shadow: 0px 2px 48px 0 rgb(0 0 0 / 6%);
	border-radius: 4px;
	border: none;
	margin: 0 20px 30px 0;
	padding: 230px 14px 20px;
	background-repeat: no-repeat;
	background-position: center 50px;
}

/*.category-list .category#category-214, .category-list .category#category-214:hover {
	background-position: center 30px;
}*/

.navbar .brand {
	padding: 15px 0;
}

.navbar .brand img {
	width: 112px;
}

#searchBar input.search-query {
	border-radius: 4px;
	border: 1px solid #E7EAF3;
	padding: 6px;
	padding-left: 20px;
	font-size: 14px;
	color: #77838F;
}

#searchBar button {
  background-color: #FF69B4;
  height: 38px;
  margin: 6px;
  border: none;
  border-radius: 4px;
  padding: 0 11px;
}

#searchBar button:hover {
	background-color: #FF3399;
}

#searchBar button .icon-search {
  display: block;
}

#searchBar button span {
  display: none;
}

.collection-category h2 {
	text-align: center;
	margin: 58px auto;
	padding: 0;
}

[class^=icon-], [class*=" icon-"], .featherlight-close-icon {
	color: white;
}

.category-list .category p {
	display: none;
}

.category-list h3 {
	color: #AF7CB9;
	font-size: 26px;
	max-width: 195px;
	margin: 0 auto;
}

.navbar .nav li a, .navbar .icon-private-w {
	color: white;
}

/* Faturamento */
#category-128 {
	background-image: url('https://brianalvesm.github.io/fintera/public/assets/media/ajuda/novidades.png');
}

#category-114 {
	background-image: url('https://brianalvesm.github.io/fintera/public/assets/media/ajuda/passo-a-passo.png');
}

#category-105 {
	background-image: url('https://brianalvesm.github.io/fintera/public/assets/media/ajuda/notificacoes.png');
}

#category-106 {
	background-image: url('https://brianalvesm.github.io/fintera/public/assets/media/ajuda/sua-organizacao.png');
}

#category-107 {
	background-image: url('https://brianalvesm.github.io/fintera/public/assets/media/ajuda/faturamentos.png');
}

#category-108 {
	background-image: url('https://brianalvesm.github.io/fintera/public/assets/media/ajuda/boletos.png');
}

#category-109 {
	background-image: url('https://brianalvesm.github.io/fintera/public/assets/media/ajuda/notas-fiscais.png');
}

#category-121 {
	background-image: url('https://brianalvesm.github.io/fintera/public/assets/media/ajuda/logins-senhas-e-contas.png');
}

#category-122 {
	background-image: url('https://brianalvesm.github.io/fintera/public/assets/media/ajuda/interface-billimatic.png');
}

#category-123 {
	background-image: url('https://brianalvesm.github.io/fintera/public/assets/media/ajuda/integracao-pjbank.png');
}

/* Financeiro  */
#category-214 {
	background-image: url('https://brianalvesm.github.io/fintera/public/assets/media/ajuda/para-que-serve-o-financeiro.png');
}

#category-217 {
	background-image: url('https://brianalvesm.github.io/fintera/public/assets/media/ajuda/perguntas-frequentes.png');
}

#category-195 {
	background-image: url('https://brianalvesm.github.io/fintera/public/assets/media/ajuda/contas-a-pagar.png');
}

#category-137 {
	background-image: url('https://brianalvesm.github.io/fintera/public/assets/media/ajuda/fluxo-de-caixa.png');
}

#category-170 {
	background-image: url('https://brianalvesm.github.io/fintera/public/assets/media/ajuda/movimento-bancario.png');
}

#category-142 {
	background-image: url('https://brianalvesm.github.io/fintera/public/assets/media/ajuda/anexos.png');
}

#category-144 {
	background-image: url('https://brianalvesm.github.io/fintera/public/assets/media/ajuda/recebiveis.png');
}

#category-156 {
	background-image: url('https://brianalvesm.github.io/fintera/public/assets/media/ajuda/orcamento.png');
}

#category-162 {
	background-image: url('https://brianalvesm.github.io/fintera/public/assets/media/ajuda/cartao-de-credito.png');
}

#category-187 {
	background-image: url('https://brianalvesm.github.io/fintera/public/assets/media/ajuda/conciliacao.png');
}

#category-261 {
	background-image: url('https://brianalvesm.github.io/fintera/public/assets/media/ajuda/meu-painel.png');
}

#category-266 {
	background-image: url('https://brianalvesm.github.io/fintera/public/assets/media/ajuda/contas-a-receber.png');
}

#category-275 {
	background-image: url('https://brianalvesm.github.io/fintera/public/assets/media/ajuda/menu-cadastros.png');
}

#category-296 {
	background-image: url('https://brianalvesm.github.io/fintera/public/assets/media/ajuda/menu-administracao.png');
}

#category-349 {
	background-image: url('https://brianalvesm.github.io/fintera/public/assets/media/ajuda/relatorios.png');
}

#category-366 {
	background-image: url('https://brianalvesm.github.io/fintera/public/assets/media/ajuda/administracao.png');
}

#category-362 {
	background-image: url('https://brianalvesm.github.io/fintera/public/assets/media/ajuda/cadastros.png');
}

#category-363 {
	background-image: url('https://brianalvesm.github.io/fintera/public/assets/media/ajuda/contratos.png');
}

#category-389 {
	background-image: url('https://brianalvesm.github.io/fintera/public/assets/media/ajuda/menu-contas.png');
}

#category-391 {
	background-image: url('https://brianalvesm.github.io/fintera/public/assets/media/ajuda/menu-movimentacoes.png');
}

#category-388 {
	background-image: url('https://brianalvesm.github.io/fintera/public/assets/media/ajuda/menu-painel.png');
}

#category-405 {
	background-image: url('https://brianalvesm.github.io/fintera/public/assets/media/ajuda/ead.png');
	background-color: #AF7CB9;
}

.category-list #category-405 h3 {
	font-weight: 600;
	color: #ffffff;
}