@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.dark-gray {
  color: #777 !important;
}

.light-gray {
  color: #999 !important;
}

.color-primary {
  color: #FF69B4;
}

.max-width-200 {
  max-width: 200px;
}

.btn.btn-primary {
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
  background-color: #FF69B4;
  border-color: #FF69B4;
  text-decoration: none;
}
.btn.btn-primary:hover:not(.btn-text):not(:disabled):not(.disabled), .btn.btn-primary:focus:not(.btn-text), .btn.btn-primary.focus:not(.btn-text) {
  background-color: #ff2190;
  border-color: #ff2190;
}
.btn.btn-clean:hover:not(.btn-text):not(:disabled):not(.disabled), .btn.btn-clean:focus:not(.btn-text), .btn.btn-clean.focus:not(.btn-text) {
  color: #FF69B4;
  background-color: #ffe9f4;
}
.btn.btn-clean:hover:not(.btn-text):not(:disabled):not(.disabled) i, .btn.btn-clean:focus:not(.btn-text) i, .btn.btn-clean.focus:not(.btn-text) i {
  color: #FF69B4;
}

.form-group,
.form-group label {
  color: #999;
}

.form-control:focus {
  border-color: #FF69B4;
}

.topbar-item .dropdown-menu a,
.topbar-item .dropdown-menu span {
  width: max-content;
}

.header .header-menu .menu-nav > .menu-item > .menu-link .menu-text {
  color: #999;
}

.header .header-menu .menu-nav > .menu-item:hover:not(.menu-item-here):not(.menu-item-active) > .menu-link .menu-text,
.header .header-menu .menu-nav > .menu-item.menu-item-hover:not(.menu-item-here):not(.menu-item-active) > .menu-link .menu-text {
  color: #FF69B4;
}

.login a {
  color: #FF69B4;
}
.login a:hover {
  color: #ff2190;
}
.login.login-signin-on {
  background-image: url("../media/bg/signin-bg-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
}
@media (max-width: 575.98px) {
  .login.login-signin-on {
    background-position: center left;
  }
}
.login .aside-container,
.login .signin-signup-container {
  width: 100%;
}
@media (min-width: 576px) {
  .login .aside-container,
.login .signin-signup-container {
    max-width: 400px;
  }
}
@media (max-width: 575.98px) {
  .login .aside-container,
.login .signin-signup-container {
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .login .login-aside {
    width: 100%;
    max-width: 600px;
  }
}

.login a {
  color: #FF69B4;
}
.login a:hover {
  color: #ff2190;
}
.login.login-signup-on .content {
  background-image: url("../media/bg/signup-bg-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
}
.login.login-verification .content {
  background-image: url("../media/bg/signup-bg-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
}
.login.login-has-account .content {
  background-image: url("../media/bg/signup-bg-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.login.login-confirmation .content {
  background-image: url("../media/bg/signup-bg-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.login.login-forgot-on .content {
  background-image: url("../media/bg/jellyfish.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 991.98px) {
  .login .content {
    padding: 0;
  }
}

.welcome a {
  color: #FF69B4;
}
.welcome a:hover {
  color: #ff2190;
}
.welcome .content {
  background-image: url("../media/bg/pink-umbrellas.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
@media (max-width: 991.98px) {
  .welcome .content {
    padding: 0;
  }
}
.welcome .aside-container,
.welcome .signin-signup-container {
  width: 100%;
}
@media (min-width: 576px) {
  .welcome .aside-container,
.welcome .signin-signup-container {
    max-width: 400px;
  }
}
@media (max-width: 575.98px) {
  .welcome .aside-container,
.welcome .signin-signup-container {
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .welcome .login-aside {
    width: 100%;
    max-width: 600px;
  }
}

.dashboard {
  background-image: url("../media/bg/dashboard-bg-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}
.dashboard .btn.btn-clean:hover:not(.btn-text):not(:disabled):not(.disabled),
.dashboard .btn.btn-clean:focus:not(.btn-text),
.dashboard .btn.btn-clean.focus:not(.btn-text) {
  color: white;
  background-color: rgba(255, 233, 244, 0.2);
}
.dashboard .btn.btn-clean:hover:not(.btn-text):not(:disabled):not(.disabled) i,
.dashboard .btn.btn-clean:focus:not(.btn-text) i,
.dashboard .btn.btn-clean.focus:not(.btn-text) i {
  color: white;
}
.dashboard .header {
  background-color: transparent;
}
.dashboard .topbar i {
  color: white;
}
.dashboard .author {
  color: rgba(255, 255, 255, 0.5);
}
.dashboard .symbol.symbol-light .symbol-label {
  background-color: #ffe9f4;
}
.dashboard .symbol.symbol-light .symbol-label i {
  color: #FF69B4;
}
.dashboard .card-engage--consultants {
  background-image: url("../media/promo-woman-smiling-crop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.dashboard .card-engage--consultants p {
  color: rgba(68, 68, 68, 0.7);
}
.dashboard .card-engage--consultants a, .dashboard .card-engage--consultants a span {
  color: #444;
}
.dashboard .card-engage--consultants .svg-icon.svg-icon-primary svg g [fill] {
  fill: #444 !important;
}

@media (max-width: 575.98px) {
  .logo {
    max-width: 135px;
  }
}

.header {
  background-color: white;
}
.header .logo {
  max-height: 20px;
}

.brand {
  padding: 0;
  height: initial;
}
@media (max-width: 991.98px) {
  .brand {
    padding: 0;
    display: block;
  }
}

.brand-logo span {
  position: relative;
  top: 2px;
}

.topbar {
  position: relative;
  box-shadow: unset;
  padding: 0;
}
@media (max-width: 991.98px) {
  .topbar {
    position: relative;
    box-shadow: unset;
    padding: 0;
    background-color: transparent;
  }
}

.alert.alert-custom .alert-text {
  width: min-content;
}

.symbol.symbol-lg-35 .symbol-label {
  width: 22px;
  height: 22px;
  overflow: hidden;
}
.symbol.symbol-lg-35 .symbol-label img {
  max-width: 22px;
}

.symbol.symbol-light-primary .symbol-label {
  overflow: hidden;
}

.svg-icon.svg-icon-primary svg g [fill] {
  fill: #FF69B4 !important;
}

.symbol.symbol-primary .symbol-label {
  background-color: #FF69B4;
}

.separator.separator-solid {
  border-bottom: 1px solid #EEEEEE;
}

.text-muted {
  color: #aaa !important;
}

@media (max-width: 575.98px) {
  .account-nav-user-email {
    font-size: 90%;
  }
}