// Header
.topbar-item .dropdown-menu a,
.topbar-item .dropdown-menu span
	width: max-content

.header .header-menu .menu-nav > .menu-item > .menu-link .menu-text
	color: $light-gray

.header .header-menu .menu-nav > .menu-item:hover:not(.menu-item-here):not(.menu-item-active) > .menu-link .menu-text,
.header .header-menu .menu-nav > .menu-item.menu-item-hover:not(.menu-item-here):not(.menu-item-active) > .menu-link .menu-text
	color: $color-primary
