// Helpers
.dark-gray
	color: $dark-gray !important

.light-gray
	color: $light-gray !important

.lighter-gray
	color: $lighter-gray

.color-primary
	color: $color-primary

.max-width-200
	max-width: 200px

// Mixins
@mixin transition($time)
	-webkit-transition: all $time cubic-bezier(0.42, 0, 0.58, 1)
	-moz-transition: all $time cubic-bezier(0.42, 0, 0.58, 1)
	-ms-transition: all $time cubic-bezier(0.42, 0, 0.58, 1)
	-o-transition: all $time cubic-bezier(0.42, 0, 0.58, 1)
	transition: all $time cubic-bezier(0.42, 0, 0.58, 1)
