// Variables
$dark-gray: #777
$light-gray: #999
$lighter-gray: rgba(170,170,170,0.5)
$color-primary: #FF69B4
$color-primary-light: #FBECF5
$color-primary-dark: color.scale($color-primary, $lightness: -20%)