// Dashboard
.dashboard
	background:
		image: url('../media/bg/dashboard-bg-1.jpg')
		repeat: no-repeat
		size: cover
		position: center bottom

	.btn.btn-clean:hover:not(.btn-text):not(:disabled):not(.disabled),
	.btn.btn-clean:focus:not(.btn-text),
	.btn.btn-clean.focus:not(.btn-text)
		color: white
		background-color: rgba($color-primary-light, 0.2)
		i
			color: white

	.header
		background-color: transparent
		.topbar
			background-color: transparent

	.topbar i
		color: white

	.author
		color: rgba(255, 255, 255, 0.5)

	.symbol.symbol-light .symbol-label
		background-color: $color-primary-light
		i
			color: $color-primary

	.card-engage
		&--consultants
			background:
				image: url('../media/promo-woman-smiling-crop.jpg')
				repeat: no-repeat
				size: cover
			p
				color: rgba(68, 68, 68, 0.7)
			a, a span
				color: #444
			.svg-icon.svg-icon-primary svg g [fill]
				fill: #444 !important

.profile-selection
	max-width: 245px
	.scroll
		max-height: 180px
		overflow-y: auto
		/* width */
		&::-webkit-scrollbar
			width: 5px

		/* Track */
		&::-webkit-scrollbar-track
			background: #fff

		/* Handle */
		&::-webkit-scrollbar-thumb
			background: #eee

		/* Handle on hover */
		&::-webkit-scrollbar-thumb:hover
			background: #999
	.list-fade-out
		position: relative
		&:after
			content: ""
			position: absolute
			bottom: 0
			left: 0
			z-index: 2
			display: block
			height: 45px
			width: 100%
			background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%)
			background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%)
			background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%)
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 )
	a
		text-overflow: ellipsis
		white-space: nowrap
		overflow: hidden

.profile-selected
	display: inline-flex
	max-width: 400px
	a
		text-overflow: ellipsis
		white-space: nowrap
		overflow: hidden
