// Dashboard
.dashboard
	background:
		image: url('../media/bg/dashboard-bg-1.jpg')
		repeat: no-repeat
		size: cover
		position: center bottom

	.btn.btn-clean:hover:not(.btn-text):not(:disabled):not(.disabled),
	.btn.btn-clean:focus:not(.btn-text),
	.btn.btn-clean.focus:not(.btn-text)
		color: white
		background-color: rgba($color-primary-light, 0.2)
		i
			color: white

	.header
		background-color: transparent
		.topbar
			background-color: transparent
			flex-basis: unset

	.topbar i
		color: white

	.author
		color: rgba(255, 255, 255, 0.5)

	.symbol.symbol-light .symbol-label
		background-color: $color-primary-light
		i
			color: $color-primary

	.card-engage
		&--consultants
			background:
				image: url('../media/promo-woman-smiling-crop.jpg')
				repeat: no-repeat
				size: cover
			p
				color: rgba(68, 68, 68, 0.7)
			a, a span
				color: #444
			.svg-icon.svg-icon-primary svg g [fill]
				fill: #444 !important

.profile-selection
	border-radius: 6px
	overflow: hidden
	.scroll
		max-height: 600px
		overflow-y: auto
		/* width */
		&::-webkit-scrollbar
			width: 5px

		/* Track */
		&::-webkit-scrollbar-track
			background: #fff

		/* Handle */
		&::-webkit-scrollbar-thumb
			background: #eee

		/* Handle on hover */
		&::-webkit-scrollbar-thumb:hover
			background: #999

	.profile-item
		padding: 24px 32px
		font-size: 18px
		text-align: left
		color: white
		font-weight: 500
		background-color: rgba(white, 0.3)
		border: 1px solid rgba(white, 0.3)
		&:hover
			background-color: rgba(white, 0.5)
			text-decoration: none
		&:first-child
			border-radius: 6px 6px 0 0
		&:last-child
			border-radius: 0 0 6px 6px
		&.active
			background-color: transparent
		.profile-title
			text-overflow: ellipsis
			white-space: nowrap
			overflow: hidden
			max-width: 300px
			font-size: 18px
			margin-bottom: 0
			&:hover
				text-decoration: none
		.arrow-icon
			width: 12px
		@media (max-width: 40rem)
			&.hide
				padding: 0
				height: 0
				visibility: hidden
			&.active
				.arrow-icon
					transform: rotate(-90deg)
				&.closed
					border-radius: 6px
					.arrow-icon
						transform: rotate(90deg)
			.profile-title
				max-width: 200px

.profile-selected
	display: inline-flex
	max-width: 400px
	a
		text-overflow: ellipsis
		white-space: nowrap
		overflow: hidden
		max-width: 300px

@media (max-width: 991.98px)
	.accounts-app .brand
		display: block
		height: initial

.card.card-custom
	transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1)
	&:hover,
	&:focus
		cursor: pointer
		box-shadow: 0 0 30px rgba(black, 0.2)
		transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1)
	a:hover
		text-decoration: none

.dashboard-title
	font-size: 30px
	@media (max-width: 40rem)
		margin-top: 25px

.dashboard-description
	font-size: 12px
	color: rgba(white, 0.6)
